<h1>Edit Song</h1>

<%= form_for @song do |f| %>
  <%= f.label :title %> <br>
  <%= f.text_field :title %> <br>

  <%= f.label :artist_name, "Artist" %> <br>
  <%= f.text_field :artist_name %> <br>


<% end %>
